color
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,900;1,500&family=Libre+Baskerville:wght@700&family=Open+Sans:wght@600&family=Outfit:wght@500&family=Rubik:wght@600&display=swap');
@import url('https:/t@600&display=swap'/fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Libre+Baskerville:wght@700&family=Open+Sans:wght@600&family=Outfit:wght@500&family=Rubik:wgh);

body {
   background: https://mossy.co.uk/wp-content/uploads/2019/03/apple_tianium_card.png;
}

#header {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
   
}

#imgheader {
    text-align: center;
}
#set {
    text-align: center;
    margin: auto;
}

#button {
    text-align: center;

  
}

#iPhone13pro {
    
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#firstone {
    text-align: center;
}
#ipadpro {
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}
#airpods {
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#applewatch {
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#mac {
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#tv {
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#headbtm {
    text-align: center;
}

#aboutsj {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#life {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}

#aboutapple {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 200px;
    margin-right: 200px; 
   
}

#abap {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#card {
    text-align: center;
    
}

#pod {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif; 
}

#signature {
    text-align: center;
}

#contact {
    text-align: center;
}